---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header';
import Footer from '../components/Footer';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';
import '../styles/global.css'


const posts = (await getCollection('blog')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);

function truncateDescription(description: string, wordLimit: number) {
  // Split the description into an array of words
  const words = description.split(' ');

  // If the number of words in the description is less than or equal to the word limit,
  // return the original description
  if (words.length <= wordLimit) return description;

  // Otherwise, return the first 'wordLimit' words joined by a space and add an ellipsis at the end
  return `${words.slice(0, wordLimit).join(' ')}...`;
}

const [showHeaderInput, setShowHeaderInput] = useState(false);

---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			ul {
				list-style-type: none;
				padding: unset;
			}
			ul li {
				display: flex;
			}
			ul li :global(time) {
				flex: 0 0 130px;
				font-style: italic;
				color: #595959;
			}
			ul li a:visited {
				color: #8e32dc;
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<!-- component -->
			<!-- ====== Blog Section Start -->
			<section class="blog pb-4 lg:pt-[120px] lg:pb-5 px-0 lg:px-1 w-full overflow-x-hidden"> 
				<section class="hero py-[4rem] px-4 flex flex-col items-center justify-center">
					<div class="container mx-auto max-w-2xl flex flex-col items-center text-center">
						<h2 class="hd text-lg md:text-lg font-bold mb-4 animate__animated animate__fadeIn">Our Blog</h2>
						<p class="text-gray-100 mb-6 animate__animated animate__fadeIn animate__delay-1s text-[10px]">
							Discover our latest posts and deepen your knowledge on various topics. Feel free to explore and search for the topics you are interested in.
						</p>
						<div class="w-[50%] relative bg-slate-600 animate__animated animate__fadeIn animate__delay-2s text-xs">
							<input 
								type="text" 
								placeholder="Search for posts..." 
								class="w-full text-slate-50 px-2 py-2 text-[8px] rounded-md border-2 bg-slate-600 border-transparent focus:outline-none focus:border-primary transition-all duration-500"
								onFocus={(e) => e.target.classList.add('bg-slate-600', 'shadow-md')}
								onBlur={(e) => e.target.classList.remove('bg-slate-600', 'shadow-md')}
							/>
							<span class="absolute right-2 top-1/2 transform -translate-y-1/2">
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-4 text-gray-400">
									<path strokeLinecap="round" strokeLinejoin="round" strokeWidth="2" d="M21 21l-6-6m2-6a7 7 0 11-14 0 7 7 0 0114 0z"/>
								</svg>
							</span>
						</div>
					</div>
				</section>
				<div class="container mx-auto max-w-screen-md overflow-hidden">
					<div class="flex flex-wrap">
						{posts.map((post) => (
							 <div class="w-full sm:w-1/2 mb-2 sm:px-2 sm:py-2">
								<div class="card mx-auto md:max-w-[350px] sm:max-w-[300px] xl:sm:max-w-[350px] border border-gray-300 flex flex-col sm:flex-row overflow-hidden"> 
									<div class="overflow-hidden flex-1">
										<img
											src={post.data.heroImage}
											alt="image"
											class="object-cover w-full h-full"
										/>
									</div>
									<div class="p-3 flex-1 items-center">
										<h3>
											<a
												href={`/${post.slug}/`}
												class="text-dark hover:text-primary mb-2 inline-block text-xs font-semibold sm:text-xs lg:text-xs xl:text-xs"
											>
												{post.data.title}
											</a>
										</h3>
										<p class="text-body-color text-[10px]">
											{truncateDescription(post.data.description, 15)}
										</p>
					
										<span class="bg-primary mb-2 inline-block rounded-full py-1 text-center text-[10px] font-thin leading-loose text-slate-600">
											<FormattedDate date={post.data.pubDate} />
										</span>
									</div>
								</div>
							</div>
						))}
					</div>
				</div>
			</section>
			<!-- ====== Blog Section End -->

		</main>
		<Footer />
	</body>
</html>
